<footer>
  <div class="container">
    <a href="https://www.norte.com" target="_blank"><?php echo $text_project; ?></a>|<a href="http://docs.norte.com/en-gb/introduction/" target="_blank"><?php echo $text_documentation; ?></a>|<a href="https://forum.norte.com" target="_blank"><?php echo $text_support; ?></a><br />
  </div>
</footer>
</body></html>
