<footer>
  <div class="container">
    <a href="https://ec.norte.com" target="_blank">{{ text_project }}</a>|<a href="https://docs.norte.com/en-gb/introduction/" target="_blank">{{ text_documentation }}</a>|<a href="https://forum.norte.com" target="_blank">{{ text_support }}</a><br />
  </div>
</footer>
</body></html>
